/server/.gradle
/server/build/
/server/.idea/*
.idea/*

# Ignore Gradle GUI config
/server/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!/server/gradle-wrapper.jar

# Cache of project
/server/.gradletasknamecache
